.row {
  color: white;
  margin-left: 20px;
}
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px; /* when size increases on hover and there is no padding then a part of the image is hidden */
}

.row_posters::-webkit-scrollbar {
  display: none; /* keep the scroll functionality but dont display*/
}

.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms; /* whenever any poster changes , it happens slowly */
}

.row_poster:hover {
  transform: scale(1.08); /* increase size on hover */
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}
